.grid {
  width: 100%;

  &__row {
    @include clearfix;
    margin-bottom: $gutter;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__col {
    float: left;
    margin-right: $gutter;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }

    &--right {
      text-align: right;
    }
  }

  @for $i from 1 through 12 {
    &__col-#{$i} {
      width: ($i / 12) * 100%;
    }
  }
}
