.page {

  &__header {
    @include clearfix;

    width: 100%;
    padding: 15px;
    color: $color-title;
    background-color: $color-title-bg;
  }

  &__title {
    float: left;
    margin: 0 25px;
    padding: 0;
    font-family: Helvetica;
    display: inline-block;
  }
}
