.story {
  @include clearfix;
  width: 100%;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 1px 1px;

  &--feature {
    background-image: url('/public/img/story-icons/feature.png');
  }

  &--chore {
    background-image: url('/public/img/story-icons/chore.png');
  }

  &--bug {
    background-image: url('/public/img/story-icons/bug.png');
  }

  &--release {
    background-image: url('/public/img/story-icons/release.png');
  }

  &__title {
    margin: 0;
    float: left;
    font-size: 16px;
    font-weight: normal;
  }

  &__actions {
    float: right;

    &__button {
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 3px;
      padding: 3px 4px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &--start {
        background-color: $color-start;
      }

      &--finish {
        background-color: $color-finish;
      }

      &--accept {
        background-color: $color-accept;
      }

      &--reject {
        background-color: $color-reject;
      }

      &--restart {
        background-color: $color-restart;
      }

      &--deliver {
        background-color: $color-deliver;
      }
    }
  }
}
