.story {
  $story: &;

  @include clearfix;

  width: 100%;
  background-repeat: no-repeat;
  background-position: 4px 8px;

  &--open {
  }

  &--closed {
    cursor: move;

    #{$story}__content {
      padding-left: 25px;
    }

    &#{$story}--feature {
      background-image: url('/public/img/story-icons/feature.png');
    }

    &#{$story}--chore {
      background-image: url('/public/img/story-icons/chore.png');
    }

    &#{$story}--bug {
      background-image: url('/public/img/story-icons/bug.png');
    }

    &#{$story}--release {
      background-image: url('/public/img/story-icons/release.png');
    }
  }

  &__title {
    margin: 0;
    float: left;
    font-family: helvetica;
    font-size: 16px;
    font-weight: normal;
  }

  &__content {
    @include clearfix;
    padding: 7px;
  }

  &__actions {
    float: right;

    %action-button {
      margin-right: 5px;
      padding: 2px 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      font-family: helvetica;
      font-size: 11px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }

    &__button {
      @extend %action-button;

      width: 55px;

      &:last-child {
        margin-right: 0;
      }

      &--start {
        background-color: $color-start;
      }

      &--finish {
        background-color: $color-finish;
      }

      &--accept {
        background-color: $color-accept;
      }

      &--reject {
        background-color: $color-reject;
      }

      &--restart {
        background-color: $color-restart;
      }

      &--deliver {
        background-color: $color-deliver;
      }
    }

    &__estimate {
      @extend %action-button;

      background-color: $color-estimate;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__textarea,
  &__select {
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__textarea {
    resize: none;
  }

  &__select {

  }
}
