.projects-show {

  &__header {
    &__back-link {
      width: 37px;
      height: 37px;
      text-align: center;
      display: block;
      background-color: #000;
      border-radius: 5px;
      float: left;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__visible-columns {
    float: right;

    &__item {
      display: inline;

    }
  }

  &__add-story {
    float: left;
    margin-top: 7px;
  }
}
